<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-icon name="chevron-back" slot="start" (click)="cancel()"></ion-icon>
      <ion-text>#20210104-1</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="main ion-padding">
    <div class="back">
      <ion-avatar>
        <img src="assets/img/review.png" alt="">
      </ion-avatar>
      <div class="list">
        <div class="nama ">
          <h5><b>Rahmat abdulah</b></h5>
          <h6>AS 1234 AOC</h6>
        </div>
        <div class="harga">
          <h6>Pemasukan</h6>
          <h5>Rp. 150,000</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="ion-padding-start ion-padding-end">
    <ion-grid>
      <ion-row *ngIf="order != undefined">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Tujuan</ion-label>
            <ion-input value="Piyungan, Yogyakarta" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Berangkat</ion-label>
            <ion-input value="Mergangsan, Yogyakarta" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Catatan</ion-label>
            <ion-textarea value="Tolong bawa Helm 2 ya pak " cols="20" rows="3" readonly></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Biaya</ion-label>
            <span>
              <ion-input value="Tunai" readonly></ion-input>
              <ion-input class="ion-text-end" value="Rp 15.000" readonly></ion-input>
            </span>
            <span>
              <ion-input value="Diskon" readonly></ion-input>
              <ion-input class="ion-text-end" value="Rp 10.000" readonly></ion-input>
            </span>
            <span>
              <ion-input value="Total" readonly></ion-input>
              <ion-input class="ion-text-end" value="Rp 25.000" readonly></ion-input>
            </span>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top ion-padding-bottom">
        <ion-col size="4">
          <ion-button expand="block" color="success" shape="round">
            Call
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" (click)="showModal()" color="warning" shape="round">
            Message
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" (click)="cancel()" color="danger" shape="round">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>

<ion-footer>
  <ion-button class="footer ion-no-margin" (click)="pickup()" expand="block" color="primary">
    Jemput
  </ion-button>
</ion-footer>