ion-content {
    position: relative;
}

* {
    font-family: "Poppins";
}

.header {
    height: 10%;
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
        margin-right: -36px;
    }

    ion-text {
        font-size: 24px;
        font-weight: 700;
        margin: auto;
    }
}

.modal {
    display: flex;
    height: 90%;
    align-items: flex-end;
    justify-self: center;
}

ion-avatar {
    margin-right: 6px;
}

.list {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .harga {
        text-align: end;
        align-items: center;
    }
}

.back {
    height: 82px;
    position: relative;
    display: flex;
    align-items: center;
}


span {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer {
    display: flex;
    height: 48px;
}

ion-content {
    position: relative;
}

* {
    font-family: "Poppins";
}

.header {
    height: 10%;
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
        margin-right: -36px;
    }

    ion-text {
        font-size: 24px;
        font-weight: 700;
        margin: auto;
    }
}

.modal {
    display: flex;
    height: 90%;
    align-items: flex-end;
    justify-self: center;
}

ion-avatar {
    margin-right: 6px;
}

.list {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .harga {
        text-align: end;
        align-items: center;
    }
}

.back {
    height: 82px;
    position: relative;
    display: flex;
    align-items: center;
}


span {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer {
    display: flex;
    height: 48px;
}