<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ubah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-grid>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Password Baru</ion-label>
          <ion-input [(ngModel)]="data.password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tulis Ulang Password Baru</ion-label>
          <ion-input [(ngModel)]="data.password2" (ngModelChange)="cek()"></ion-input>
        </ion-item>
      </ion-list>

    </ion-grid>
    <ion-button (click)="saveData()" expand="block">
      UBAH
    </ion-button>


  </div>
</ion-content>