<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
    <ion-toggle slot="end" color="primary"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map4 id="map4"></div>


  <div class="modal">
    <ion-card>
      <ion-card-content>


        <h2 style="font-size: 14px; color: dodgerblue;">Hey! Azhar ingin berkendara denganmu</h2>
        <div class="back">
          <ion-avatar>
            <img src="assets/img/review.png" alt="">
          </ion-avatar>

          <div class="list1">
            <div class="nama">
              <h2 style="font-size: 18px;"><b>Azhar rizki</b></h2>
              <h3 style="font-size: 14px; color: dodgerblue;">Tunai</h3>
            </div>
            <div class="harga">
              <h2 style="font-size: 14px;">Rp. 13,000</h2>
              <h3 style="font-size: 18px;">2.3 Km</h3>
            </div>
          </div>
        </div>

        <div class="list">
          <ion-item>
            <ion-label position="floating">Penjemputan</ion-label>
            <ion-input value="Mergangsan" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tujuan</ion-label>
            <ion-input value="UAD 5" readonly></ion-input>
          </ion-item>
        </div>

        <div class="button ">
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="tolak()" expand="block" fill="clear" color="danger" shape="round">
                Tolak
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="terima()" expand="block" color="primary" shape="round">
                Terima
              </ion-button>
            </ion-col>
          </ion-row>
        </div>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>