card-history {
    display: block;
    height: 14rem;
    border-radius: 12px;
    font-family: 'Poppins';
}

.header {
    height: 10%;
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
        margin-right: -36px;
    }

    ion-text {
        font-size: 24px;
        font-weight: 700;
        margin: auto;
    }
}

.jobs {
    display: flex;
    align-items: center;
}


.avatar {
    width: 84px;
}

.avatars {
    padding-top: 9px;
    padding-left: 16px;
}


.ratings {
    margin-top: 8px;

    img {
        width: 16px;
        height: auto;
        display: inline;
        justify-content: space-around;
    }
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 16px;
    padding-bottom: 12px;
}

.list {
    ion-item {
        --background: transparent;
        background: transparent;

        ion-input {
            --background: transparent;
            background: transparent;
        }
    }
}

ion-content {
    position: relative;
}

* {
    font-family: "Poppins";
}

.header {
    height: 10%;
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
        margin-right: -36px;
    }

    ion-text {
        font-size: 24px;
        font-weight: 700;
        margin: auto;
    }
}

.modal {
    display: flex;
    height: 90%;
    align-items: flex-end;
    justify-self: center;
}

ion-avatar {
    margin-right: 6px;
}

.list {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .harga {
        text-align: end;
        align-items: center;
    }
}

.back {
    height: 82px;
    position: relative;
    display: flex;
    align-items: center;
}


span {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer {
    display: flex;
    height: 48px;
}