<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-text>History</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="6">
      <ion-card color="warning">
        <ion-card-content class="jobs ion-padding">
          <div class="ion-margin-end">
            <img src="assets/img/scooter.png" alt="">
          </div>
          <div>
            <h6>Selesai</h6>
            <h4><b>10</b></h4>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card color="tertiary">
        <ion-card-content class="jobs ion-padding">
          <div class="ion-margin-end">
            <img src="assets/img/money.png" alt="">
          </div>
          <div>
            <h6>Dompet</h6>
            <h4><b>Rp 150.000</b></h4>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label>Pilih Tanggal</ion-label>
    <ion-datetime displayFormat="MMM D, YYYY" min="2005" max="2025" value="2021-01-02"></ion-datetime>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <div class="main">
        <div class="back">
          <ion-avatar>
            <img src="assets/img/review.png" alt="">
          </ion-avatar>
          <div class="list">
            <div class="nama ">
              <h4><b>Rahmat abdulah</b></h4>
              <h6 style="font-size: 14px; color: dodgerblue;">Tunai</h6>
            </div>
            <div class="harga">
              <h4><b>Rp 15.000</b></h4>
              <h6>2.3 Km</h6>
            </div>
          </div>
        </div>
      </div>
      <ion-item>
        <ion-label position="stacked">Penjemputan</ion-label>
        <ion-input value="Lempyuangan" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tujuan</ion-label>
        <ion-input value="SMK 5 Yogyakarta" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>



</ion-content>