#map3 {
    height: 100%;
    width: 100%;
    position: fixed;
}

ion-header {
    position: fixed;
}

.modal {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-self: center;
}


ion-card {
    width: 100%;
    font-family: 'Poppins';
}

ion-avatar {
    margin-right: 6px;
}

.list {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .harga {
        text-align: end;
        align-items: center;
    }
}

.back {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}

.front {
    height: 144px;
    position: relative;
    background-color: #0b233b;
    border-radius: 24px;

    ion-col {
        padding: 34px 24px;
        text-align: center;
        color: white;
    }
}

.list {
    --ion-padding: 0px;
}