<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
    <ion-toggle slot="end" color="primary"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map3 id="map3"></div>


  <div class="modal">
    <ion-card>
      <ion-card-content>
        <ion-text color="primary">
          <h6>Selamat datang di Si Jemput</h6>
        </ion-text>

        <div class="back">
          <ion-avatar>
            <img src="assets/img/review.png" alt="">
          </ion-avatar>

          <div class="list">
            <div class="nama">
              <h2><b>Rahmat abdulah</b></h2>
              <h3>AS 1234 AOC</h3>
            </div>
            <div class="harga">
              <h3>Pemasukan</h3>
              <h2>Rp. 150,000</h2>
            </div>
          </div>
        </div>

        <div class="front">
          <ion-row>
            <ion-col size="4">
              <img src="assets/img/checklist.png" alt="">
              <h1><b>95%</b></h1>
              <h4 style="opacity: 80%;">Diterima</h4>
            </ion-col>

            <ion-col size="4">
              <img src="assets/img/star.png" alt="">
              <h1><b>4,9</b></h1>
              <h4 style="opacity: 80%;">Penilaian</h4>
            </ion-col>

            <ion-col size="4">
              <img src="assets/img/checklist.png" alt="">
              <h1><b>5%</b></h1>
              <h4 style="opacity: 80%;">Ditolak</h4>
            </ion-col>
          </ion-row>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>