.konten {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    position: fixed;
}

.header {
    margin-top: 18%;

    h2 {
        font-weight: 600;
    }

    h5 {
        color: darkgray;
    }
}

.profile {
    margin-top: 12%;
}

.nametag {
    margin-top: 12%;
}

.catatan {
    background-color: #F4F4F4;
    border-radius: 12px;
    margin: 1.5rem;
    margin-top: 34%;
}

.button {
    margin: 0rem 1rem
}

ion-item {
    --padding-start: 0;
    --background: transparent;
    padding: 0px 10px;
    border: none;
    border-radius: 12px;
    align-items: center;

    img {
        margin-right: 1rem;
    }
}

.ratings {
    margin-top: 1rem;

    img {
        width: 24px;
        height: auto;

        margin: 0px 6px;
    }
}