<ion-content>
  <div class="konten">
    <div class="header">
      <h2>Pesanan telah selesai</h2>
      <h5>beri rating pada driver</h5>
    </div>


    <div class="profile">
      <img src="assets/img/review.png" alt="">
    </div>
    <div class="nametag">
      <h3>Muhammad alrizki</h3>
    </div>
    <div class="ratings">
      <i><img src="assets/img/rating.svg" alt=""></i>
      <i><img src="assets/img/rating.svg" alt=""></i>
      <i><img src="assets/img/rating.svg" alt=""></i>
      <i><img style="opacity: 40%;" src="assets/img/rating.svg" alt=""></i>
      <i><img style="opacity: 40%;" src="assets/img/rating.svg" alt=""></i>
    </div>
    <div class="catatan">
      <ion-item>
        <img src="assets/img/catatan.png" alt="">
        <ion-input placeholder="Catatan"></ion-input>
      </ion-item>
    </div>
    <div class="button">
      <ion-button (click)="kirim()" expand="block">
        Kirim
      </ion-button>
    </div>

  </div>
</ion-content>