	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
	<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />

	<ion-content fullscreen>

		<!-- background -->


		<!-- Header -->
		<div class="container" *ngIf="user != undefined">
			<img class="home-bg" src="assets/img/bg.png" alt="">
			<div class="home">
				<ion-text>
					<h5>Promo Hari ini</h5>
				</ion-text>
				<div class="home1">
					<ion-text>
						<h6>Hi! {{user.nama}}</h6>
					</ion-text>
					<ion-icon name="notifications"></ion-icon>
				</div>
			</div>
		</div>

		<!-- Slider -->

		<div class="slider">
			<ion-slides>
				<ion-slide>
					<ion-card>
						<img src="assets/img/disc1.png" alt="">
						<ion-card-content>
							<h6><b>Disc 12.12</b></h6>
							Segera lakukan pemesanan agar harimu asik, kami memberimu voucher disc. 40%
							<a tab="voucher">Read more</a>
						</ion-card-content>
					</ion-card>
				</ion-slide>

				<ion-slide>
					<ion-card>
						<img src="assets/img/disc1.png" alt="">
						<ion-card-content>
							<h6><b>Disc 40%</b></h6>
							Segera lakukan pemesanan agar harimu asik, kami memberimu voucher disc. 40%
							<a>Read more</a>
						</ion-card-content>
					</ion-card>
				</ion-slide>

				<ion-slide>
					<ion-card>
						<img src="assets/img/disc1.png" alt="">
						<ion-card-content>
							<h6><b>Disc 40%</b></h6>
							Segera lakukan pemesanan agar harimu asik, kami memberimu voucher disc. 40%
							<a>Read more</a>
						</ion-card-content>
					</ion-card>
				</ion-slide>

				<ion-slide>
					<ion-card>
						<img src="assets/img/disc1.png" alt="">
						<ion-card-content>
							<h6><b>Disc 40%</b></h6>
							Segera lakukan pemesanan agar harimu asik, kami memberimu voucher disc. 40%
							<a>Read more</a>
						</ion-card-content>
					</ion-card>
				</ion-slide>
			</ion-slides>
		</div>

		<div class="button">
			<ion-button class="home-button" (click)="pesan()">
				<img src="assets/img/scoot.png" alt="">
				<span>Order</span>
			</ion-button>
		</div>

	</ion-content>