.container {

  .home-bg {
    position: fixed;
    display: flex;
    width: 100%;
    height: 17rem;
  }

  .home {
    position: relative;
    font-family: "Poppins", sans-serif;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin: 0px 28px;

    h5 {
      font-weight: 700;
      color: #e2ebff;
    }
  }
}

.home1 {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  h6 {
    color: #e2ebff;
    margin-right: 5px;
  }

  ion-icon {
    margin-top: 2px;
    font-size: 24px;
    color: whitesmoke;
  }
}

ion-card {
  width: 80%;
  border-radius: 24px;
  margin: auto;
  font-family: 'Poppins';

  img {
    width: 100%;
  }
}

ion-card-content {
  font-size: small;
  text-align: left;
  margin-top: -8px;
}

.button {
  display: flex;
  height: 16%;
  align-items: flex-start;
  margin: auto;
  width: 70%;

  .home-button {
    width: 300px;
    height: 48px;
    border-radius: 24px;

    span {
      font-family: 'Poppins';
      color: #e2ebff;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 2px;
    }

    img {
      margin-right: 10px;
    }
  }
}