<ion-header>
    <ion-toolbar>
        <ion-title>voucher</ion-title>
    </ion-toolbar>
</ion-header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>

<ion-content fullscreen>

    <body>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="assets/img/disc1.png">
                            <h5><b>diskon senin happy</b></h5>
                            <h6>segera lakukan pesanan agar harimu asik,kami memberi voucher diskon 40%</h6>
                            <ion-list>
                                <ion-button class="button" shape="round" ><h2>pakai</h2><ion-icon slot="start" name="star"></ion-icon>
                                </ion-button>
                             </ion-list> 
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="assets/img/disc1.png">
                            <h5><b>diskon 20%</b></h5>
                            <h6>segera lakukan pesanan, kami memberimu diskon 20%</h6>
                           <ion-list>
                               <ion-button class="button" shape="round"><h2>pakai</h2></ion-button>
                            </ion-list> 
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </body>

</ion-content>

