ion-toolbar {
    background-color: blue;
}
ion-title {
    font-family: poppins;
    color: black;

}
h5 {
    font-family: poppins;
}
h6{
    font-family: poppins;
}
ion-card-content {
    display: block;
}

ion-card img {
    width: 600px;
    height: 100px;
    display: block;
    position: relative;
}

ion-card h6 {
    display: block;
}

ion-card h5 {
    display: block;
}

ion-button {
    font-family: poppins;
    width: 50px;
    height: 30px;
    margin-left: 230px ;
}
 