<ion-content>
  <div class="header">
    <ion-icon name="chevron-back" slot="start" (click)="kembali()"></ion-icon>
    <ion-text>Pendaftaran</ion-text>
  </div>

  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="driver.username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="driver.email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">Alamat</ion-label>
            <ion-input type="text" [(ngModel)]="driver.alamat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">Jenis Kendaraan</ion-label>
            <ion-input type="text" [(ngModel)]="driver.jenisKendaraan"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">No Polisi</ion-label>
            <ion-input type="text" [(ngModel)]="driver.nopol"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">No Hp</ion-label>
            <ion-input type="text" [(ngModel)]="driver.nohp"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="driver.password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="registrasi-nama" position="floating">Password Vertifikasi</ion-label>
            <ion-input type="password" [(ngModel)]="driver.password_check"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div>
    <ion-button expand="block" (click)="daftar()"
      [disabled]="loading || driver.password == undefined || driver.password != driver.password_check">
      {{loading ? 'Tunggu...':'DAFTAR'}}</ion-button>
  </div>

</ion-content>