ion-content {
    position: relative;
}

* {
    font-family: "Poppins";
}

.header {
    height: 10%;
    display: flex;
    align-items: center;
    margin-top: 15px;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
        margin-right: -36px;
    }

    ion-text {
        font-size: 24px;
        font-weight: 700;
        margin: auto;
    }
}

.main {
    display: flexbox;
    align-items: flex-start;
    padding: 0px 20px 0px 20px;
}


ion-button {
    margin: 2rem;
    font-family: 'Poppins';
}