<ion-content>

	<div class="login-bg">
		<ion-img src="assets/img/login.png"></ion-img>
	</div>
	<ion-grid class="grid">

		<ion-row>
			<ion-col>
				<h2>Si Jemput</h2>

				<ion-list>

					<ion-item>
						<ion-label position="floating">Username</ion-label>
						<ion-input required type="text" [(ngModel)]="user.email"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label position="floating">Password</ion-label>
						<ion-input required type="password" [(ngModel)]="user.password"></ion-input>
					</ion-item>
				</ion-list>

				<ion-button class="login-button" (click)="login()" [disabled]="loading">
					{{loading ? 'Tunggu...': 'Login'}}</ion-button>

				<ion-text><a class="a-login" (click)="lupasandi()">Lupa kata sandi?</a></ion-text>
			</ion-col>
		</ion-row>

	</ion-grid>

	<div class="login-daftar">
		<div class="footer">
			Daftar sebagai
			<a (click)="daftarUser()">User</a>
			Atau
			<a (click)="daftarDriver()">Driver</a>
		</div>
	</div>

</ion-content>