.login-bg {
  position: relative;
  display: flex;
  height: 35%;
  margin: auto;
  width: 256px;
  align-items: flex-end;
}

* {
  font-family: "Poppins", sans-serif;
}

.grid {
  width: 240px;
  height: 40%;
  align-items: flex-start;
}

.login-button {
  position: relative;
  margin-top: 20px;
  width: 220px;
  font-size: 14px;
}

h2 {
  font-family: Footlight MT Light;
  margin: auto;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.48em;
  text-align: center;
  color: #1e57f1;
}

.login-input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 18px;
  margin-bottom: 10px;
  height: 70px;
}

.a-login {
  font-size: 14px;
  margin-top: 5px;
}

.a-daftar {
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
}

.login-daftar {
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
}

ion-item {
  --padding-start: 0;
}