#map5 {
    height: 100%;
    width: 100%;
    position: fixed;
}

ion-header {
    position: fixed;
}

.header {
    height: 10%;
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 24px;
        margin-left: 16px;
        margin-right: -36px;
    }

    ion-text {
        font-size: 24px;
        font-weight: 700;
        margin: auto;
    }
}

.modal {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-self: center;
}


ion-card {
    width: 100%;
    font-family: 'Poppins';
}

ion-avatar {
    margin-right: 6px;
}

.list1 {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .harga {
        text-align: end;
        align-items: center;
    }
}

.back {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}


.list1 {
    --ion-padding: 0px;
}

.catatan {
    background-color: #F4F4F4;
    border-radius: 12px;
    margin-top: 12px;
}

.list {
    background-color: #F4F4F4;
    border-radius: 12px;
}


.item {
    --padding-start: 0;
    --background: transparent;
    padding: 0px 10px;
    border: none;
    border-radius: 12px;
    align-items: center;

    img {
        margin-right: 1rem;
    }
}