<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-text>Penjemputan</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map5 id="map5"></div>


  <div class="modal">
    <ion-card>
      <ion-card-content>
        <div class="back">
          <ion-avatar>
            <img src="assets/img/review.png" alt="">
          </ion-avatar>

          <div class="list1">
            <div class="nama">
              <h2 style="font-size: 18px;"><b>Azhar rizki</b></h2>
              <h3 style="font-size: 14px; color: dodgerblue;">Tunai</h3>
            </div>
            <div class="harga">
              <h3 style="font-size: 18px;"><b>Rp. 13,000</b></h3>
              <h2 style="font-size: 14px;">2.3 Km</h2>
            </div>
          </div>
        </div>

        <div class="list ion-margin-bottom">
          <ion-item>
            <img src="assets/img/tujuan.png" alt="">

            <ion-input type="text" value="Sleman,Yogyakarta" readonly></ion-input>
          </ion-item>
          <ion-item>
            <img src="assets/img/berangkat.png" alt="">
            <ion-input type="text" value="Klaten, Jawa Tengah" readonly></ion-input>
          </ion-item>
        </div>

        <div class="button ">
          <ion-button (click)="selesai()" expand="block" color="primary">
            Selesai
          </ion-button>
        </div>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>