<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="header">
                <h3>Profile</h3>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="konten ion-padding ion-text-center" *ngIf="user != undefined">
        <div>
            <img style="border-radius: 20px;"
                src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}">
        </div>

        <div>
            <ion-button fill="outline" size="small" (click)="takePicture()">
                {{updatingProfileImage ? 'Tunggu..':'Ganti Foto'}}</ion-button>
        </div>
    </div>

    <div class="main">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Username</ion-label>
                        <ion-input value="{{user.nama}}" readonly></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input value="{{user.email}}" readonly></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">No Hp</ion-label>
                        <ion-input value="{{user.nohp}}" readonly></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-button class="ion-margin-top" expand="block" (click)="Ubah()">
            Ubah Password
        </ion-button>


        <ion-button class="ion-margin-top" expand="block" color="danger" (click)="signOut()">
            Logout
        </ion-button>
    </div>
</ion-content>