<ion-content>
  <div class="header">
    <h3>Profil Pengguna</h3>
  </div>
  <div class="konten">

    <div class="avatar ">
      <img src="assets/img/profile.svg" alt="">
    </div>
    <div class="main">
      <ion-grid>
        <ion-row *ngIf="user != undefined">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input value="{{user.nama}}" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input value="{{user.email}}" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Alamat</ion-label>
              <ion-textarea value="{{user.alamat}}" rows="3" cols="20" readonly></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Jenis kendaraan</ion-label>
              <ion-input value="{{user.jenisKendaraan}}" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">No polisi</ion-label>
              <ion-input value="{{user.nopol}}" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">No Hp</ion-label>
              <ion-input value="{{user.nohp}}" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-button class="ion-margin-top" expand="block" (click)="Ubah()">
        Ubah Password
      </ion-button>


      <ion-button class="ion-margin-top" expand="block" color="danger" (click)="signOut()">
        Logout
      </ion-button>
    </div>
  </div>
</ion-content>