ion-content {
    position: relative;
}

* {
    font-family: "Poppins";
}

.avatar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 12px 0px;

    img {
        width: 120px;
    }
}

.header {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    align-items: flex-start;
    margin-top: -15px;
    padding: 0px 20px 0px 20px;
}