#map1 {
    height: 100%;
    width: 100%;
    position: fixed;
}

.kembali {
    font-family: 'Poppins';
    display: flex;
    height: 59%;
    align-items: flex-start;
    justify-content: center;

    ion-card {
        width: 72%;
        height: auto;
        border-radius: 24px;

        img {
            height: 24px;
        }


        ion-col {
            display: flex;
            align-items: center;

            img {
                margin-left: 1rem;
            }

            h6 {
                margin-left: 1rem;
            }
        }
    }
}


.modal {
    display: flex;
    height: 40%;
    align-items: flex-end;
    justify-content: center;

    * {
        font-family: 'Poppins';
    }

    ion-card {
        width: 100%;
        height: 11rem;
        border-radius: 24px;
    }

    ion-card-content {
        margin: 6px;
    }
}

.list {
    background-color: #F4F4F4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.catatan {
    background-color: #F4F4F4;
    border-radius: 12px;
    margin-top: 12px;
}

ion-item {
    --background: transparent;
    border: none;
    border-radius: 12px;
}

.button {
    height: 42px;
}

.nama {
    display: inline-flex;
    align-items: flex-start;

    h2 {
        margin-bottom: 1rem;
    }
}