<ion-content>
  <div #map1 id="map1"></div>

  <div class="kembali">
    <ion-card>

      <ion-row *ngIf="order != undefined">
        <ion-col size="12">
          <img src="assets/img/tujuan.png" alt="">
          <ion-input class="ion-margin-start" type="text" readonly>Yogyakarta</ion-input>
        </ion-col>
        <ion-col size="12">
          <img src="assets/img/berangkat.png" alt="">
          <ion-input class="ion-margin-start" type="text" readonly>Klaten</ion-input>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

  <div class="modal">
    <ion-card>
      <ion-card-content>
        <div>
          <ion-row>
            <ion-col size="3">
              <img src="assets/img/icon.png">
            </ion-col>
            <ion-col class="nama" size="9">
              <ion-text>
                <ion-label><b>Muhammad alrizki</b></ion-label>
                <br>
                <ion-label><b>HB 1231 AOC</b></ion-label>
                <br>
                <ion-label>
                  <h3>Dalam perjalanan...</h3>
                </ion-label>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>

        <ion-row>
          <ion-col size="9">
            <div class="list">
              <ion-item>
                <ion-input placeholder="Kirim pesan"></ion-input>
                <img slot="end" (click)="showModal()" src="assets/img/arrow.png" alt="">
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="3">
            <ion-button expand="block" (click)="selesai()">
              Tiba
            </ion-button>
          </ion-col>
        </ion-row>



      </ion-card-content>
    </ion-card>
  </div>

</ion-content>