* {
    font-family: "Poppins";
}

.main {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-img {
        height: 92px;
        margin-top: 12px;
        margin-bottom: 10px;
    }

    * {
        font-family: 'Poppins', sans-serif;
    }

    ion-card {
        padding: 10px;
    }

    h5 {
        font-weight: 600;
        color: black;
        text-align: center;
    }

    h6 {
        font-size: smaller;
        text-align: center;
        margin-top: -2px;
    }

    .content {
        padding: 0px 10px 0px 10px;

        ion-item {
            margin-top: -10px;
        }
    }

}

.login-daftar {
    height: 12%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
}