<ion-content class="ion-padding">
    <div class="main">
        <ion-card>
            <ion-img src="assets/img/lock.svg"></ion-img>
            <!-- <ion-icon name="chevron-back-outline" class="ion-margin-top" routerLink="login()"></ion-icon> -->
            <h5>Kesulitan dalam melakukan login?</h5>
            <h6>
                silahkan masukan email anda dan kami akan mengirim anda sebuah
                tautan untuk kembali ke
                akun anda.
            </h6>
            <div class="content">
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
                </ion-item>
                <ion-button class="ion-margin-top" (click)="resetPassword()" [disabled]="loading">
                    {{loading ? 'Tunggu...':'Kirim'}}</ion-button>
            </div>
        </ion-card>
    </div>

    <div class="login-daftar"><a (click)="kembali()">Kembali Masuk</a></div>
</ion-content>