<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="header">
                <h3>History</h3>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

    <ion-item>
        <ion-label>Pilih Tanggal</ion-label>
        <ion-datetime displayFormat="MMM D, YYYY" min="2005" max="2025" value="2021-01-02"></ion-datetime>
    </ion-item>

    <ion-card class="card-history ion-no-margin ion-margin-top">
        <img src="assets/img/card-history.png" style="position: absolute; " alt="">

        <ion-grid *ngIf="history != undefined">

            <ion-row>
                <ion-col class="avatars" size="4">
                    <img class="avatar" src="assets/img/icon.png">
                </ion-col>
                <ion-col size="8">
                    <h6><b>Rahmat abdulah</b></h6>
                    <h6>AB 1234 AOC</h6>
                    <div class="ratings">
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img style="opacity: 40%;" src="assets/img/rating.png" alt=""></i>
                        <i><img style="opacity: 40%;" src="assets/img/rating.png" alt=""></i>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="8">
                    <div class="list">
                        <ion-item lines="none">
                            <img src="assets/img/tujuan.png" class="ion-padding-end" alt="">
                            <ion-input type="text" value="SMK 5 Yogyakarta" readonly></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <img src="assets/img/berangkat.png" alt="" class="ion-padding-end">
                            <ion-input type="text" value="lempuyangan, Yogyakarta" readonly></ion-input>
                        </ion-item>
                    </div>
                </ion-col>

                <ion-col class="date" size="4">
                    <h6><b>Rp. 15.000</b></h6>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card class="card-history ion-no-margin ion-margin-top">
        <img src="assets/img/card-history.png" style="position: absolute; " alt="">

        <ion-grid *ngIf="history != undefined">

            <ion-row>
                <ion-col class="avatars" size="4">
                    <img class="avatar" src="assets/img/icon.png">
                </ion-col>
                <ion-col size="8">
                    <h6><b>Arnesto</b></h6>
                    <h6>AB 4323 AOC</h6>
                    <div class="ratings">
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img src="assets/img/rating.png" alt=""></i>
                        <i><img style="opacity: 40%;" src="assets/img/rating.png" alt=""></i>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="8">
                    <div class="list">
                        <ion-item lines="none">
                            <img src="assets/img/tujuan.png" class="ion-padding-end" alt="">
                            <ion-input type="text" value="SMA N 1 yogyakarta" readonly></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <img src="assets/img/berangkat.png" alt="" class="ion-padding-end">
                            <ion-input type="text" value="Piyungan" readonly></ion-input>
                        </ion-item>
                    </div>
                </ion-col>

                <ion-col class="date" size="4">
                    <h6><b>Rp. 15.000</b></h6>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>