ion-card {
    display: block;
    height: 14rem;
    border-radius: 12px;
    font-family: 'Poppins';
}

.header {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 84px;
}

.avatars {
    padding-top: 9px;
    padding-left: 16px;
}


.ratings {
    margin-top: 8px;

    img {
        width: 16px;
        height: auto;
        display: inline;
        justify-content: space-around;
    }
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 16px;
    padding-bottom: 12px;
}

.list {
    ion-item {
        --background: transparent;
        background: transparent;

        ion-input {
            --background: transparent;
            background: transparent;
        }
    }
}