#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

.kembali {
    display: flex;
    height: 59%;
    align-items: flex-end;
    margin-bottom: 6px;
}

.modal {
    display: flex;
    height: 40%;
    align-items: flex-end;
    justify-content: center;

    * {
        font-family: 'Poppins';
    }

    ion-card {
        width: 100%;
        height: 19rem;
        border-radius: 24px;
    }

    ion-card-content {
        margin: 6px;
    }
}

.catatan {
    background-color: #F4F4F4;
    border-radius: 12px;
    margin-top: 12px;
}

.list {
    background-color: #F4F4F4;
    border-radius: 12px;
}


ion-item {
    --padding-start: 0;
    --background: transparent;
    padding: 0px 10px;
    border: none;
    border-radius: 12px;
    align-items: center;

    img {
        margin-right: 1rem;
    }
}

ion-row {
    margin: 6px 0px;

    h3 {
        color: #1E57F1;
    }

}

.button {
    height: 42px;
}

// map