<!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
  type="text/css" /> -->

<ion-content>
  <div #map id="map"></div>

  <div class="kembali">
    <ion-button class="ion-margin-start" (click)="kembali()">
      <ion-icon class="ion-align-items-center" name="chevron-back"></ion-icon>
    </ion-button>
  </div>

  <div class="modal">
    <ion-card>
      <ion-card-content>
        <div class="list">
          <ion-item>
            <img src="assets/img/tujuan.png" alt="">
            <ion-input type="text" placeholder="lokasi tujuan anda" [(ngModel)]="data.berangkat"></ion-input>
          </ion-item>
          <ion-item>
            <img src="assets/img/berangkat.png" alt="">
            <ion-input type="text" placeholder="lokasi penjemputan" [(ngModel)]="data.tujuan"></ion-input>
          </ion-item>
        </div>

        <div class="catatan">
          <ion-item>
            <img src="assets/img/catatan.png" alt="">
            <ion-input type="text" placeholder="Catatan" [(ngModel)]="data.catatan"></ion-input>
          </ion-item>
        </div>

        <div class="voucher">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="6">
                <ion-button color="warning" expand="block" (click)="voucher()">
                  <h5>Tambah voucher</h5>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="ion-align-self-center ion-text-end">
                <h3>Biaya Rp. 13,000</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="button">
          <ion-button expand="block" (click)="pesan()">
            Cari driver
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>