<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-no-border">
            <div class="header">
                <h3>Ubah Password</h3>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main">
        <ion-grid>

            <ion-row>
                <ion-col>
                    <ion-item color="light">
                        <ion-label class="registrasi-nama" position="stacked">Password</ion-label>
                        <ion-input type="password" [(ngModel)]="data.password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item color="light">
                        <ion-label class="registrasi-nama" position="stacked">Password Vertifikasi</ion-label>
                        <ion-input type="password" [(ngModel)]="data.password2" (ngModelChange)="cek()"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
        <ion-button (click)="saveData()" expand="block">
            Ubah
        </ion-button>


    </div>
</ion-content>