<ion-content>
    <div class="header">
        <ion-icon name="chevron-back" slot="start" (click)="kembali()"></ion-icon>
        <ion-text>Pendaftaran</ion-text>
    </div>

    <div class="main">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Username</ion-label>
                        <ion-input type="text" [(ngModel)]="user.username"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="registrasi-nama" position="floating">Email</ion-label>
                        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="registrasi-nama" position="floating">No Hp</ion-label>
                        <ion-input type="text" [(ngModel)]="user.nohp"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="registrasi-nama" position="floating">Password</ion-label>
                        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="registrasi-nama" position="floating">Password Vertifikasi</ion-label>
                        <ion-input type="password" [(ngModel)]="user.password_check"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>

    <div class="button">
        <ion-button (click)="daftar()"
            [disabled]="loading || user.password == undefined || user.password != user.password_check">
            {{loading ? 'Tunggu...':'DAFTAR'}}</ion-button>
    </div>

</ion-content>