ion-content {
	position: relative;
}

* {
	font-family: "Poppins";
}

.header {
	height: 10%;
	display: flex;
	align-items: center;
	margin-top: 15px;

	ion-icon {
		font-size: 24px;
		margin-left: 16px;
		margin-right: -36px;
	}

	ion-text {
		font-size: 24px;
		font-weight: 700;
		margin: auto;
	}
}

.main {
	display: flex;
	height: 79%;
	align-items: flex-start;
	margin-top: -15px;
	padding: 0px 20px 0px 20px;
}

.button {
	display: flex;
	margin: auto;
	width: 240px;
	height: 40px;

	ion-button {
		letter-spacing: 4px;
		font-family: 'Poppins';
	}
}