ion-card {
    border-radius: 24px;
    font-family: 'Poppins', sans-serif;

    ion-text {
        h3 {
            font-family: 'Poppins';
            font-size: 16px;
            color: black;
            margin-bottom: 6px;
        }
    }

}

.icon {
    width: 36px;
    height: 36px;
    margin-left: 1rem;
    opacity: 60%;
}

.list {
    background-color: #F4F4F4;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.25rem;
    padding: 0.5rem;

    ion-icon {
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    ion-input {
        margin-left: 1rem;
    }
}