<div class="modal">
  <ion-card>
    <ion-card-content>
      <div>
        <ion-row>
          <ion-col size="3">
            <img src="assets/img/icon.png">
          </ion-col>
          <ion-col class="nama" size="7">
            <ion-text>
              <h3>
                <b>
                  Muhammad alrizki
                </b>
              </h3>
              <h3>
                <b>HB 1231 AOC</b>
              </h3>
            </ion-text>
          </ion-col>
          <ion-col size="2">
            <img class="icon" src="assets/img/close.svg" (click)="close()" alt="">
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</div>

<div class="list">
  <ion-input placeholder="Kirim pesan"></ion-input>
  <ion-icon name="send-outline"></ion-icon>
</div>